.toast-enter {
  transform: translateX(calc(100% + 30px));
}
.toast-enter-active {
  transform: translateX(0);
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
.toast-exit {
  transform: translateX(0);
}
.toast-exit-active {
  transform: translateX(calc(100% + 30px));
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
